*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: "JBM-Regular";
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}


.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.btn {
	outline: none;
	border: 1px solid $cod-gray;
	padding: 0 45px;
	font-size: 20px;
	line-height: 40px;
	color: $cod-gray;
	cursor: pointer;

	&:hover {
		border: 1px solid $green-darken;
		color: $green-darken;
		transition: all 0.3s ease 0s;
	}
}