.ant-modal-content {
	left: 50%;
	border: 1px solid $green;
	width: 520px;
	background-color: $green;
	transform: translateX(-50%);
}

.ant-modal-header {
	border-bottom: none;
	background-color: $green;
}

.ant-modal-body {
	padding: 0;
}

// * ======================== MODAL ============================
.modal {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1500;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	background-color: $mine-shaft;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;

	&__content {
		padding: 20px;
		transition: 0.5s;
	}

	&__top-content {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 80px 0 40px;
		width: 100%;
		background-color: $green;

		.search-input {
			outline: none;
			border: 0;
			padding-right: 40px;
			width: 100%;
			font-size: 20px;
			background-color: transparent;
		}

		.form__content {
			position: relative;
			border-bottom: 1px solid $crusoe;
			width: 80%;

			.img-search {
				position: absolute;
				right: 5px;
				top: 5px;
			}
		}
	}

	&__bottom-content {
		padding: 20px 0;
		font-size: 18px;
		text-align: center;
		background-color: $white;

		span {
			color: $denim;
			background-color: $tropical-blue;
		}
	}

	&.open {
		opacity: 1;
		visibility: visible;
	}
}

// .modal-close {
// 	position: fixed;
// 	right: 50px;
// 	top: 50px;
// 	display: block;

// 	svg {
// 		fill: $white;

// 		&:hover {
// 			transform: rotate(90deg);
// 			transition: 0.5s;
// 		}
// 	}
// }

.lock {
	overflow: hidden;
}
