// * ======================== MODAL ============================
.modal {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1500;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	background-color: $mine-shaft;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;

	&__content {
		padding: 20px;
		//transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
		transition: 0.5s;
	}

	&.open {
		opacity: 1;
		visibility: visible;

		.modal__content {
			//transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
		}
	}
}

// .modal-close {
// 	position: fixed;
// 	right: 50px;
// 	top: 50px;
// 	display: block;

// 	svg {
// 		fill: $white;

// 		&:hover {
// 			transform: rotate(90deg);
// 			transition: 0.5s;
// 		}
// 	}
// }

.lock {
	overflow: hidden;
}
